<html>
    <body>
        <h1>Projetos</h1>

        <table>
            <tr>
                <th>Projeto</th>
                <th>Descrição</th>
            </tr>                    
            <tr>
                <td>Site De Cabeça</td>
                <td>Sua Calculadora Online</td>
            </tr>
        </table>
    </body>
</html>